<section class="endMeeting">
  <header>
    <img src="/images/opentok-logo.png" alt="opentok transparent logo">
    <p>Thank you for using OpenTok Platform Demo</p>
  </header>
  <button id="newCall" class="btn btn-blue btn-padding-large ctaarrow-white">Start a new meeting</button>
  <section  class="archives" data-recordings="<%=numArchives%>">
    <div class="content">
      <p class="title recordings">Archived recordings from your last call</p>
      <p class="title no-recordings">No archived recordings</p>
      <hr>
      <div class="tc-list videos">
        <ul>
<% for(var i = 0, l = archives.length; i < l; i++) { %>
          <li data-status="<%=archives[i].status%>">
            <a target="_blank" href="<%=archives[i].hrefPrev%>" class="file"><%=archives[i].txtPrev%></a>
            <i data-id="<%=archives[i].id%>" data-icon="delete" data-action="delete" data-username="<%=archives[i].recordingUser%>"></i>
            <a class="download" data-icon="download" href="<%=archives[i].hrefDwnld%>" download="<%=archives[i].dwnldName%>"></a>
          </li>
<% } %>
        </ul>
      </div>
    </div>
  </section>
  <footer data-recordings="<%=numArchives%>">
    <p> Get more information about the quality of your last meeting using our <a href=" https://tokbox.com/developer/tools/inspector/">Inspector tool</a>.</p>
  </footer>
</section>

<section class="tc-modal archive-delete-modal">
  <form class="tc-dialog">
    <i data-icon="close_gray" class="close"></i>
    <header>Delete <span class="username"></span>'s Archive</header>
    <hr>
    <p>Are you sure you want to delete this archive?</p>
    <footer>
      <button class="btn btn-white btn-padding ctaarrow-blue">Cancel</button>
      <button class="btn btn-blue btn-padding ctaarrow-white delete-archive">Delete</button>
    </footer>
  </form>
</section>
